{% block jsLoader %}
{% load static %}
<!-- BEGIN: Vendor JS-->
    <script src="{% static 'admin_panel/app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/charts/apexcharts.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/extensions/swiper.min.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/vendors/js/pickers/daterange/moment.min.js' %}"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin_panel/app-assets/js/scripts/configs/vertical-menu-dark.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/js/core/app.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/js/scripts/components.js' %}"></script>
    <script src="{% static 'admin_panel/app-assets/js/scripts/footer.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin_panel/app-assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin_panel/app-assets/js/scripts/pages/table-extended.js' %}"></script>
    <!-- END: Page JS-->
{% endblock jsLoader %}