{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block cssLoader %}
    {% include 'front/cssloader.html' %}
    {% endblock %}
    <title></title>
</head>
<body>
{% block header %}
{% include 'front/headerForm.html' %}
{% endblock %}
<section>
    <div class="container">
        <div class="catalog-item-header">
            <div class="catalog-item-logo">
                <img src="{% static 'front/img/product/3.png' %}" alt="">
            </div>
            <div class="catalog-item-banner">
                <img src="{% static 'front/img/product/2.png' %}" alt="">

                <div class="info">
                    <h3>BI Group</h3>
                    <p class="catalog-item-category">Возведение зданий и сооружений</p>
                    <p class="catalog-item-category">Строительство жилых домов и нежилых зданий</p>
                </div>

                <p class="catalog-item-id">Id: 0000100</p>

                <div class="catalog-item-premium active">premium</div>
            </div>
        </div>

        <div class="catalog-item-body">
            <div class="catalog-item-info">
                <h2>Описание</h2>

                <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию о деятельности Вашей компании. Этот текст будет заменен на новый подходящий текст. Текст будет заменен на новый подходящий текст. Здесь будет мини-описание.Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в </p>

                <a href="" class="cataog-item-character">Характеристика 1</a>
                <a href="" class="cataog-item-character">Характеристика 1</a>
                <a href="" class="cataog-item-character">Характеристика 1</a>
            </div>

            <div class="catalog-item-contact">
                <p class="title">КОНТАКТЫ</p>

                <table>
                    <tbody> 
                        <tr>
                            <td>Город:</td>
                            <td>Нур-Султан</td>
                        </tr>
                        <tr>
                            <td>Адрес:</td>
                            <td>Жумабаева 25/3</td>
                        </tr>
                        <tr>
                            <td>Время-работы:</td>
                            <td>с 9:00 - 19:00</td>
                        </tr>
                        <tr>
                            <td>Телефоны:</td>
                            <td>8 707 700 70 70</td>
                        </tr>
                        <tr>
                            <td>Почта:</td>
                            <td>mymail@mail.ru</td>
                        </tr>
                        <tr>
                            <td>Сайт:</td>
                            <td>bigroup.kz</td>
                        </tr>
                    </tbody>
                </table>

                <p class="title">ФАЙЛЫ</p>

                <div class="catalog-item-file">
                    <div class="catalog-item-file-item">
                            <div class="catalog-item-file-icon"><img src="{% static 'front/img/icons/catalog-item-file-icon.svg' %}" alt=""></div>
                        <div>
                            <div class="catalog-item-file-name">Название файла</div>
                            <div class="catalog-item-file-info">2 файл, 14.05 mb</div>
                        </div>
                            <a href="" class="catalog-item-file-download">Скачать</a>
                    </div>

                    <div class="catalog-item-file-item">
                        <div class="catalog-item-file-icon"><img src="{% static 'front/img/icons/catalog-item-file-icon.svg' %}" alt=""></div>
                        <div>
                            <div class="catalog-item-file-name">Название файла</div>
                            <div class="catalog-item-file-info">2 файл, 14.05 mb</div>
                        </div>
                            <a href="" class="catalog-item-file-download">Скачать</a>
                    </div>

                    <div class="catalog-item-file-item">
                        <div class="catalog-item-file-icon"><img src="{% static 'front/img/icons/catalog-item-file-icon.svg' %}" alt=""></div>
                        <div>
                            <div class="catalog-item-file-name">Название файла</div>
                            <div class="catalog-item-file-info">2 файл, 14.05 mb</div>
                        </div>
                            <a href="" class="catalog-item-file-download">Скачать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <h2>Услуги</h2>

        <div class="catalog-item-services-div">
            <!-- Swiper -->
            <div class="swiper-container catalog-item-services">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="catalog-item-service">
                            <div class="catalog-item-service-header">
                                <p class="catalog-item-service-title">Название</p>
                            </div>
                            <div class="catalog-item-service-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </div>
                            <div class="catalog-item-service-body">
                                <!-- макс сим. - 100 -->
                                <p class="catalog-item-service-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="catalog-item-service-footer">
                                <a href="" class="button">Оставить заявку</a>
                                <p class="catalog-item-service-title">5 000 тг</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="catalog-item-service">
                            <div class="catalog-item-service-header">
                                <p class="catalog-item-service-title">Название</p>
                            </div>
                            <div class="catalog-item-service-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </div>
                            <div class="catalog-item-service-body">
                                <!-- макс сим. - 100 -->
                                <p class="catalog-item-service-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="catalog-item-service-footer">
                                <a href="" class="button">Оставить заявку</a>
                                <p class="catalog-item-service-title">5 000 тг</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="catalog-item-service">
                            <div class="catalog-item-service-header">
                                <p class="catalog-item-service-title">Название</p>
                            </div>
                            <div class="catalog-item-service-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </div>
                            <div class="catalog-item-service-body">
                                <!-- макс сим. - 100 -->
                                <p class="catalog-item-service-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="catalog-item-service-footer">
                                <a href="" class="button">Оставить заявку</a>
                                <p class="catalog-item-service-title">5 000 тг</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="catalog-item-service">
                            <div class="catalog-item-service-header">
                                <p class="catalog-item-service-title">Название</p>
                            </div>
                            <div class="catalog-item-service-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </div>
                            <div class="catalog-item-service-body">
                                <!-- макс сим. - 100 -->
                                <p class="catalog-item-service-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="catalog-item-service-footer">
                                <a href="" class="button">Оставить заявку</a>
                                <p class="catalog-item-service-title">5 000 тг</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="catalog-item-service">
                            <div class="catalog-item-service-header">
                                <p class="catalog-item-service-title">Название</p>
                            </div>
                            <div class="catalog-item-service-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </div>
                            <div class="catalog-item-service-body">
                                <!-- макс сим. - 100 -->
                                <p class="catalog-item-service-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="catalog-item-service-footer">
                                <a href="" class="button">Оставить заявку</a>
                                <p class="catalog-item-service-title">5 000 тг</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pag-div">
                    <div class="swiper-button-prev"><img src="{% static 'front/img/icons/swiper-next.svg' %}" alt=""></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"><img src="{% static 'front/img/icons/swiper-prev.svg' %}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="catalog-item-filials-div">
            <table>
                <tbody> 
                    <tr>
                        <th>Город </th>
                        <th>Адрес </th>
                        <th>Телефоны </th>
                        <th>Почта </th>
                        <th>Время работы </th>
                    </tr>
                    <tr>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                    </tr>
                    <tr>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                    </tr>
                    <tr>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                    </tr>
                    <tr>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                    </tr>
                    <tr>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                        <td>Это текст о компании</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>



<section>
    <div class="container">
        <h2>Отзывы</h2>

        <div class="catalog-item-review" data-toggle="modal" data-target="#review-modal">
            <img src="{% static 'front/img/icons/review.svg' %}" alt="">
            <p class="catalog-item-review-title">
                Оставьте свой отзыв
            </p>
        </div>

        <!-- Modal review -->
        <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="{% static 'front/img/icons/modal-close.svg' %}" alt="">
                </button>
                <div class="modal-body">
                    <h3>Оставить отзыв</h3>

                    <form action="" class="contact-page-form def-form">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label for="name">Имя</label>
                                <input type="text" required="" name="name" placeholder="Напишите ваше имя">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="email">Email</label>
                                <input type="email" required="" name="email" placeholder="Напишите ваш email">
                            </div>
                            <div class="col-md-12 col-12">
                                <label for="review">Отзыв</label>
                                <textarea name="review" id="" rows="5" placeholder="Ваш отзыв"></textarea>
                            </div>
                            <div class="col-md-12 col-12">
                                <button type="submit" class="button">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>


        <div class="catalog-item-reviews-div">
            <div class="catalog-item-review-item">
                <p class="catalog-item-review-item-name">Asyl</p>
                <p class="catalog-item-review-item-name">Asyl@mail.ru</p>

                <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию о деятельности Вашей компании. Этот текст будет заменен на новый подходящий текст. Текст будет заменен на новый подходящий текст. Здесь будет мини-описание.Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в </p>
            </div>

            <div class="catalog-item-review-item">
                <p class="catalog-item-review-item-name">Asyl</p>
                <p class="catalog-item-review-item-name">Asyl@mail.ru</p>

                <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию о деятельности Вашей компании. Этот текст будет заменен на новый подходящий текст. Текст будет заменен на новый подходящий текст. Здесь будет мини-описание.Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в </p>
            </div>

            <div class="catalog-item-review-item">
                <p class="catalog-item-review-item-name">Asyl</p>
                <p class="catalog-item-review-item-name">Asyl@mail.ru</p>

                <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию о деятельности Вашей компании. Этот текст будет заменен на новый подходящий текст. Текст будет заменен на новый подходящий текст. Здесь будет мини-описание.Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в </p>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="container">
        <h2>Партнеры компании</h2>
        <div class="catalog-item-partners-div">
            <a href="" class="catalog-item-partners-item">
                <img src="{% static 'front/img/product/3.png' %}" alt="">
            </a>
            <a href="" class="catalog-item-partners-item">
                <img src="{% static 'front/img/product/3.png' %}" alt="">
            </a>
            <a href="" class="catalog-item-partners-item">
                <img src="{% static 'front/img/product/3.png' %}" alt="">
            </a>
            
        </div>
    </div>
</section>


<section>
    <div class="container">
        <h2>Похожие компании</h2>
        <div class="catalog-item-same-div">
            <!-- Swiper -->
            <div class="swiper-container view1 catalog-item-services">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-item" data-tilt data-tilt-perspective="5000">
                            <a href="" class="product-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </a>
                            <div class="product-body">
                                <a href="" class="product-name">BI Group</a>
                                <a href="" class="product-cotegory">Строительство жилых домов</a>
            
            
                                <!-- макс сим. - 100 -->
                                <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="product-footer">
                                <a href="" class="button">Подробнее</a>
                                <button class="like-btn favorite">
                                    <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                                    <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item" data-tilt data-tilt-perspective="5000">
                            <a href="" class="product-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </a>
                            <div class="product-body">
                                <a href="" class="product-name">BI Group</a>
                                <a href="" class="product-cotegory">Строительство жилых домов</a>
            
            
                                <!-- макс сим. - 100 -->
                                <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="product-footer">
                                <a href="" class="button">Подробнее</a>
                                <button class="like-btn favorite">
                                    <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                                    <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item" data-tilt data-tilt-perspective="5000">
                            <a href="" class="product-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </a>
                            <div class="product-body">
                                <a href="" class="product-name">BI Group</a>
                                <a href="" class="product-cotegory">Строительство жилых домов</a>
            
            
                                <!-- макс сим. - 100 -->
                                <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="product-footer">
                                <a href="" class="button">Подробнее</a>
                                <button class="like-btn favorite">
                                    <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                                    <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item" data-tilt data-tilt-perspective="5000">
                            <a href="" class="product-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </a>
                            <div class="product-body">
                                <a href="" class="product-name">BI Group</a>
                                <a href="" class="product-cotegory">Строительство жилых домов</a>
            
            
                                <!-- макс сим. - 100 -->
                                <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="product-footer">
                                <a href="" class="button">Подробнее</a>
                                <button class="like-btn favorite">
                                    <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                                    <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="swiper-slide">
                        <div class="product-item" data-tilt data-tilt-perspective="5000">
                            <a href="" class="product-img">
                                <img src="{% static 'front/img/product/1.png' %}" alt="">
                            </a>
                            <div class="product-body">
                                <a href="" class="product-name">BI Group</a>
                                <a href="" class="product-cotegory">Строительство жилых домов</a>
            
            
                                <!-- макс сим. - 100 -->
                                <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                            </div>
                            <div class="product-footer">
                                <a href="" class="button">Подробнее</a>
                                <button class="like-btn favorite">
                                    <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                                    <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="swiper-pag-div">
                    <div class="swiper-button-prev"><img src="{% static 'front/img/icons/swiper-next.svg' %}" alt=""></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"><img src="{% static 'front/img/icons/swiper-prev.svg' %}" alt=""></div>
                </div>
            </div>
            
        </div>
    </div>
</section>



{% block footer %}
{% include 'front/footerForm.html' %}
{% endblock footer %}







{% block jsLoad %}
{% include 'front/jsLoader.html' %}
{% endblock jsLoad %}

</body>
</html>