{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block cssLoader %}
    {% include 'front/cssloader.html' %}
    {% endblock %}
    <title></title>
</head>
<body>





<section>
    <div class="container">
        <div class="catalog-header">
            <div>
                <h3>Компании в Казахстане</h3>

                <p class="text">Найдено 1863 компаний</p>
            </div>

            <div>
                <a href="" class="button-r">Добавить Компанию <img src="{% static 'front/img/icons/add-company.svg' %}" alt=""></a>
            </div>
        </div>
    </div>

    <div class="catalog-filter-div">
        <div class="catalog-filter-inner">
            <div class="catalog-filter-header">
                <p class="catalog-filter-more-search">Расширенный поиск</p>
                <div class="catalog-filter-select">
                    <p>Регион: </p>
                    <select class="catalog-select">
                        <option>Астана</option>
                        <option>Астана</option>
                        <option>Астана</option>
                    </select>
                </div>
            </div>
            <div class="catalog-filter-body">
                <div class="catalog-filter-body-inner">
                    <div class="catalog-filter-nav-pils">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills1" data-toggle="pill" href="#v-pills1" role="tab" aria-controls="v-pills1" aria-selected="true">Строительство </a>
                            <a class="nav-link" id="v-pills2" data-toggle="pill" href="#v-pills2" role="tab" aria-controls="v-pills2" aria-selected="false">Инженерные сети</a>
                            <a class="nav-link" id="v-pills3" data-toggle="pill" href="#v-pills3" role="tab" aria-controls="v-pills3" aria-selected="false">Возведение зданий и сооружений</a>
                            <a class="nav-link" id="v-pills4" data-toggle="pill" href="#v-pills4" role="tab" aria-controls="v-pills4" aria-selected="false">Продажа</a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills1" role="tabpanel" aria-labelledby="v-pills1">

                            </div>
                            <div class="tab-pane fade" id="v-pills2" role="tabpanel" aria-labelledby="v-pills2">

                            </div>
                            <div class="tab-pane fade" id="v-pills3" role="tabpanel" aria-labelledby="v-pills3">

                            </div>
                            <div class="tab-pane fade" id="v-pills4" role="tabpanel" aria-labelledby="v-pills4">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="view2 product-div">
            <div class="product-item premium" data-tilt data-tilt-perspective="5000">
                <a href="" class="product-img">
                    <img src="{% static 'front/img/product/1.png' %}" alt="">
                </a>
                <div class="product-body">
                    <a href="" class="product-name">BI Group</a>
                    <a href="" class="product-cotegory">Строительство жилых домов</a>


                    <!-- макс сим. - 100 -->
                    <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>


                    <div class="product-footer">
                        <a href="" class="button">Подробнее</a>
                        <button class="like-btn favorite">
                            <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                            <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                        </button>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</section>









{% block jsLoad %}
{% include 'front/jsLoader.html' %}
{% endblock jsLoad %}

</body>
</html>