{% block footer %}
{% load static %}
<footer>
    <div class="footer-top-div">
        <div class="container">
            <div class="footer-top">
                <div>
                    <a href=""><img src="{% static 'front/img/logo.svg' %}" alt=""></a>
                </div>
                <div>
                    <p>Будьте в курсе самых лучших предложений и свежих новостей</p>
                </div>
                <form class="form-footer">
                    <input class="form-search-footer" type="search" placeholder="Электронная почта" aria-label="Search">
                    <button class="submit-search-footer" type="submit">Подписатся</button>
                </form>
                <div class="soc-div">
                    <a href="" class="soc-item">
                        <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                    </a>
                    <a href="" class="soc-item">
                        <img src="{% static 'front/img/icons/inst.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="footer-bottom">
            <div>
                <p class="footer-title">города</p>
                <ul class="footer-menu footer-city">
                    <li><a href="">Аксу</a></li>
                    <li><a href="">Актау</a></li>
                    <li><a href="">Актобе</a></li>
                    <li><a href="">Алма-Ата</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аксу</a></li>
                    <li><a href="">Актау</a></li>
                    <li><a href="">Актобе</a></li>
                    <li><a href="">Алма-Ата</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аксу</a></li>
                    <li><a href="">Актау</a></li>
                    <li><a href="">Актобе</a></li>
                    <li><a href="">Алма-Ата</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аксу</a></li>
                    <li><a href="">Актау</a></li>
                    <li><a href="">Актобе</a></li>
                    <li><a href="">Алма-Ата</a></li>
                    <li><a href="">Аркалык</a></li>
                    <li><a href="">Аксу</a></li>
                    <li><a href="">Актау</a></li>
                    <li><a href="">Актобе</a></li>
                    <li><a href="">Алма-Ата</a></li>
                    <li><a href="">Аркалык</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">Главная </p>
                <ul class="footer-menu">
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Гарантии</a></li>
                    <li><a href="">Сервис</a></li>
                    <li><a href="">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div>
                <p class="footer-title">Контакты</p>
                <ul class="footer-menu">
                    <li><a>г. Нур-Султан Район  Жумабаева 25/3</a></li>
                    <li><a href="">mymail@ru</a></li>
                    <li><a href="">8 707 700 70 70</a></li>
                    <li><a href="">8 707 700 70 70</a></li>
                </ul>

                <p class="footer-title">Обратная связь</p>
                <ul class="footer-menu">
                    <li><a href="">Заказать обратный звонок</a></li>
                    <li><a href="">Оставьте отзыв и помогите
                        нам стать лучше</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-footer">
            <div>
                <p class="text text-md-left text-center text-white">Copyright 2020</p>
            </div>

            <div>
                <a href="" class="text text-center text-white">Политика конфиденциальности</a>
            </div>

            <div>
                <a href="" class="text text-md-right text-center text-white">Создание сайтов</a>
            </div>
        </div>
    </div>

</footer>
{% endblock footer %}