{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block cssLoader %}
    {% include 'front/cssloader.html' %}
    {% endblock %}
    <title></title>
</head>
<body class="main-page">

<nav class="main-nav" id="main-nav">
    <ul>
        <li>
            <a href="#">Главная</a>
        </li>
        
        <li>
            <a href="#">Услуги</a>
        </li>
        <li>
            <a href="#">О нас</a>
        </li>
        <li>
            <a href="#">Портфолио</a>
        </li>
        <li>
            <a href="#">Преймущества</a>
        </li>
        <li>
            <a href="#">Новости</a>
        </li>
        <li>
            <a href="#">Контакты</a>
        </li>
        <li>
            <a href="tel:+7 701 693 66 44">+7 701 693 66 44</a>
        </li>
        <li>
            <a href="tel:+7 747 371 53 57">+7 747 371 53 57</a>
        </li>
        
    </ul>
</nav>

<button id="burger" class="open-main-nav">
    <span class="burger"></span>
</button>

{% block header %}
{% include 'front/headerForm.html' %}
{% endblock %}




<section id="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <h1>Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам</h1>
            </div>
            <div class="col-12">
                <div class="main-banner-form">
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Я хочу найти..." required>
                          </div>
                          <div class="col d-md-block d-none">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                {% for category in categories %}
                                    <option value="{{ category.pk }}">
                                {{ category.name }}
                                    </option>
                                {% endfor %}
                              </select>
                          </div>
                          <div class="col d-md-block d-none">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Город</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                          </div>
                          <div class="col-auto">
                            <button type="submit" class="button">Поиск</button>
                          </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        

        
    </div>
</section>





<section id="main-product">
    <div class="container">
        <div class="view1 product-div">
            <div class="product-item premium" data-tilt data-tilt-perspective="5000">
                <a href="" class="product-img">
                    <img src="{% static 'front/img/product/1.png' %}" alt="">
                </a>
                <div class="product-body">
                    <a href="" class="product-name">BI Group</a>
                    <a href="" class="product-cotegory">Строительство жилых домов</a>


                    <!-- макс сим. - 100 -->
                    <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                </div>
                <div class="product-footer">
                    <a href="" class="button">Подробнее</a>
                    <button class="like-btn favorite">
                        <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                        <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                    </button>
                </div>
            </div>

            <div class="product-item" data-tilt data-tilt-perspective="5000">
                <a href="" class="product-img">
                    <img src="{% static 'front/img/product/1.png' %}" alt="">
                </a>
                <div class="product-body">
                    <a href="" class="product-name">BI Group</a>
                    <a href="" class="product-cotegory">Строительство жилых домов</a>


                    <!-- макс сим. - 100 -->
                    <p class="product-desc">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет...</p>
                </div>
                <div class="product-footer">
                    <a href="" class="button">Подробнее</a>
                    <button class="like-btn favorite">
                        <img src="{% static 'front/img/icons/favourite.svg' %}" class="no-active">
                        <img src="{% static 'front/img/icons/favourite1.svg' %}" class="active">
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="main-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <h2>О сервисе</h2>

                <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию о деятельности Вашей компании. Этот текст будет заменен на новый подходящий текст. Текст будет заменен на новый подходящий текст. Здесь будет мини-описание.Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в </p>
            </div>

            <div class="col-md-4 col-12">
                <div class="main-about-video">

                </div>
            </div>

            <div class="col-md-4 col-12">
                <div class="main-about-adv">
                    <div class="main-about-adv-item">
                        <div class="main-about-adv-img">
                            <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                        </div>
                        <div class="main-about-adv-text">
                            <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения</p>
                        </div>
                    </div>
                    <div class="main-about-adv-item">
                        <div class="main-about-adv-img">
                            <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                        </div>
                        <div class="main-about-adv-text">
                            <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения</p>
                        </div>
                    </div>
                    <div class="main-about-adv-item">
                        <div class="main-about-adv-img">
                            <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                        </div>
                        <div class="main-about-adv-text">
                            <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения</p>
                        </div>
                    </div>
                    <div class="main-about-adv-item">
                        <div class="main-about-adv-img">
                            <img src="{% static 'front/img/icons/fb.svg' %}" alt="">
                        </div>
                        <div class="main-about-adv-text">
                            <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="main-company">
    <div class="container">
        <h2>Для компаний</h2>

        <p class="text">Это текст о компании. Он необходим для дальнейшего продвижения Вашего сайта. Вам будет необходимо предоставить исходные данные, по которым наши копирайтеры составят правильный текст, который будет содержать в себе основную информацию</p>

        <a href="" class="button">Подробнее</a>
    </div>
</section>





<section id="main-news">
    <div class="main-news-div">
        <div class="main-news-item ">
            <img src="{% static 'front/img/news/1.png' %}" alt="">
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
           
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
            <img src="{% static 'front/img/news/1.png' %}" alt="">
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
           
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
            <img src="{% static 'front/img/news/1.png' %}" alt="">
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
            <img src="{% static 'front/img/news/1.png' %}" alt="">
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
        <div class="main-news-item ">
            <img src="{% static 'front/img/news/1.png' %}" alt="">
            <div class="main-news-info">
                <p class="title">Он необходим для дальнейшего продвижения </p>
                <p class="desc">Октябрь 20, 2020</p>
            </div>
        </div>
    </div>
</section>


    {% block footer %}
    {% include 'front/footerForm.html' %}
    {% endblock footer %}









{% block jsLoad %}
{% include 'front/jsLoader.html' %}
{% endblock jsLoad %}

</body>
</html>